@import "tailwindcss";
@theme {
  --color-primary: black;
  --color-secondary: oklch(96.7% 0.003 264.542);
}
* {
  scroll-behavior: smooth;
  scroll-padding: 3.5rem;

}

*::selection {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

:root {
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

